.main-box{
  background: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height:91vh;
}

.log-main-box {

    width: 500px;
    height: auto;
    position:relative;
    margin:20px auto ;
}

.log-box {
    background-color: #e6e8e8;
    padding: 20px 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.head-box {
    color: #818a93;
    text-align: center;
    margin-bottom: 20px;
}

.log-main-box a {
    color: #7e8790;
}

.cus-form {
    background: transparent !important;
    border: none !important;
    ;
    border-bottom: 1px solid #b1b1b1 !important;
    background: transparent;
    border-radius: 0 !important;
    padding: 0px 10px !important;
}

.cus-form:focus {
    box-shadow: none !important;

}

.cus-btn {
    background-color: #7e8790;
    color: rgb(255, 255, 255) !important;
    padding: 5px 30px;
    border-radius: 0;
    font-family: sans-serif;
    transition: all 0.3s;
}


.cus-btn:focus {
    box-shadow: none;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #e6e8e8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    border: 1px solid rgb(106 103 103 / 25%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.form-check-input:focus {
    border-color: #858585;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #7e8790;
    border-color: #818a93;
}

@media screen and (max-width: 680px) {
    .log-main-box {
        width: 100%;
    }

}
