
<app-navbar />
<section class="bg-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <div class="box">
          <img
            src="/assets/home4.jpg"
            class="img-fluid"
            alt=""
          />

          <div class="container">
            <div class="row">
              <div class="col-12">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="collection">
  <div class="collections container">
    <div class="content2" *ngFor="let product of products">
      <img [src]="product.img" alt="img" />
      <div class="img-content2">
        <p>{{ product.name }}</p>
        <!-- <p>{{ product.description | truncate:3  }}</p> -->
        <!-- <p>{{ product.price }}</p> -->
        <button class="btn show-btn"><a (click)="prdocutDetail(product.id)">SHOP NOW</a></button>
      </div>
    </div>
  </div>
</section>

