<!-- <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a href="" class="login-btn mx-2" (click)="loginRedirect()" >Login</a>
        <button class="btn btn-primary mx-1 signin"  (click)="signinRedirect()">Sign In</button>

      </form>
    </div>
  </div>
</nav> -->
<app-navbar />
<section class="bg-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <div class="box">
          <img
            src="https://i.postimg.cc/7whm1rxJ/home2.jpg"
            class="img-fluid"
            alt=""
          />

          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="box-content card">
                  <form class="d-flex">
                    <input
                      class="form-control searchbx shadow-none"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                    />
                    <button class="btn cus-btns shadow-none">
                      <i class="fa-solid fa-magnifying-glass mx-1"></i>Search
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="collection">
  <div class="collections container">
    <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button class="btn show-btn"><a (click)="prdocutDetail()">SHOP NOW</a></button>
      </div>
    </div>
    <!-- <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button><a href="#sellers">SHOP NOW</a></button>
      </div>
    </div>
    <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button><a href="#sellers">SHOP NOW</a></button>
      </div>
    </div>
    <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button><a href="#sellers">SHOP NOW</a></button>
      </div>
    </div>
    <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button><a href="#sellers">SHOP NOW</a></button>
      </div>
    </div>
    <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button><a href="#sellers">SHOP NOW</a></button>
      </div>
    </div>
    <div class="content2">
      <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
      <div class="img-content2">
        <p>Shoes Spring</p>
        <button><a href="#sellers">SHOP NOW</a></button>
      </div>
    </div> -->
  </div>
</section>
