/* .navbar {
    box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    background: var(--white);
    color: var(--black);
    z-index: 100;
}

.navbar-content {
    display: flex;
}

.menu-items {
    display: flex;

}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #dbdada !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link:focus {
    color: #ff7500;
}

.login-btn {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
}

.signin {
    border: 0;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(240, 185, 10, 0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(240, 185, 10, 0.3);
    box-shadow: 0px 10px 20px 0px #3F51B5;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

.cus-btn {
    padding: 3px 20px;
    background-color: #ffb200;
    background-image: linear-gradient(62deg, #f2a424 0%, #f6b918 50%, #e5a668 100%);
    color: #fff !important;
    display: flex;
    align-items: center;
}

.cus-btns {
    padding: 3px 10px;
    background-color: #ffb200;
    background-image: linear-gradient(62deg, #f2a424 0%, #f6b918 50%, #e5a668 100%);
    color: #fff !important;
    display: flex;
    align-items: center;
}

.show-btn {
    outline: none;
}

.box {
    position: relative;
    top: 0;
}

.box-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffe9;
    width: 700px;
}

.searchbx {
    width: 100%;
    padding: 5px 20px;
    border: 0;
}



.nav-link-f {
    color: rgb(119, 118, 118) !important;
}

.filter-box {
    width: 50%;
    padding: 10px;
}

.filter-box:focus {
    box-shadow: none;
    border-color: #cbcbcb;
}

.cus-product-cart {
    position: relative;
    top: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 15px;
    transition: all 0.3s;

}

.cus-product-cart:hover {
    top: -10px;
    transition: all 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.cus-product-cart img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 15px;
    object-fit: fill;
}

.card-img {
    position: relative;
    top: 0;
    width: 100%;
    height: 210px;
    border: 1px solid orange;
    border-radius: 10px;

}

.card-img-main {
    padding: 10px;
}

.cus-card-body {
    background-color: #f9f9f9;
    border-radius: 10px;
}

.avtr p:nth-child(1) {
    color: #424242;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 600;
}

.avtr p:nth-child(2) {
    color: rgb(119, 118, 118);
    font-size: 15px;

}

.avtrs p:nth-child(1) {
    color: green;
}

.dwnl {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.dwnl2 {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: end;
}

.cus-buybtn {
    padding: 3px 26px;
    font-size: 12px;
    background-color: #adadad;
    color: #fff !important;
    font-size: 15px;
}

.cus-buybtn:focus {
    box-shadow: none;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: end;
}

.page-link {
    position: relative;
    display: block;
    color: #333436;
    text-decoration: none;
    background-color: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 10px;
}

.page-link:hover {
    z-index: 2;
    color: #6c6f74;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #f89e52;
    border-color: #f89e52;
}


.page-link:focus {
    z-index: 3;
    color: #4b4d50;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: none;
}

.page-item:last-child .page-link {
    border-radius: 0 !important;
}

.page-item:first-child .page-link {
    border-radius: 0 !important;
}

.footer {
    background-color: #f9f9f9;
    padding: 50px 0px;
}

ul li {
    list-style: none;
}



.list ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    word-spacing: 2px;

}

.list ul li a:hover {
    color: #dda53f;


}

.list {
    margin: 10px;
}

.footer-log a {
    color: #f4ab20;
}

.list h3 {
    color: #f4ab20;
    font-size: 20px;
}

.show-btn:focus {
    outline: none;
}

.footerup ul li {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;

}

.footerup ul li a {
    text-decoration: none;
    color: #adadad;
    ;
}

.footerup a {
    color: #adadad;
    text-decoration: none;
}

.footerup a:hover {
    color: #dee2e6;
}

.btm-footer {
    background: #252532;
    color: #adadad;
}



select option :hover {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(128, 128, 128) !important;
}


.collections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
}

.content2 {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content2:hover::after {
    opacity: 1;
}

.content2 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content2 p {
    font-size: 1.6rem;
}

.img-content2 a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}

.img-content2 .show-btn {
    border: none;
    background-color: #ff3c78;
    color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
}

.img-content2 .show-btn:hover {
    background: #fff;
    color: #ff3c78;
}

.img-content2 .show-btn:hover~.img-content2 a {
    color: #ff3c78;
}

.img-content2 a:hover {
    color: #ff3c78;
}

.content2:hover .img-content2 {
    opacity: 1;
    top: 50%;
}



@media only screen and (max-width: 600px) {
    .box-content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffffe9;
        width: 300px;
    }

    .cus-btns {
        padding: 3px 5px;
        background-color: #ffb200;
        background-image: linear-gradient(62deg, #f2a424 0%, #f6b918 50%, #e5a668 100%);
        color: #fff !important;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    div#navbarSupportedContent {
        text-align: center;
    }

    .btn-box {
        justify-content: center;
    }

    .filter-box {
        width: 100%;
    }

    .list {
        text-align: center;
    }


}


@media only screen and (max-width: 780px) {

    .footerup {
        color: #adadad;
        text-decoration: none;
        text-align: center !important;
    }



} */

.navbar {
  box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
  position: sticky;
  top: 0;
  background: var(--white);
  color: var(--black);
  z-index: 100;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #dbdada !important;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
  color: #fff !important;
}

.show-btn {
  outline: none;
}

/* .box {
  position: relative;
  top: 0;
} */

.img-content2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content2 p {
  font-size: 1.6rem;
}

.img-content2 a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
}

.img-content2 .show-btn {
  border: none;
  background-color: #ff3c78;
  color: #fff;
  border-radius: 10px;
  padding: 10px 10px;
}

.img-content2 .show-btn:hover {
  background: #fff;
  color: #ff3c78;
}

.img-content2 .show-btn:hover~.img-content2 a {
  color: #ff3c78;
}

.img-content2 a:hover {
  color: #ff3c78;
}

.content2:hover .img-content2 {
  opacity: 1;
  top: 50%;
}

.collections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
}

.content2 {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}

.content2:hover::after {
  opacity: 1;
}

.content2 img {
  width: 100%;
  height: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content2 p {
  font-size: 1.6rem;
}

.img-content2 a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
}

.img-content2 .show-btn {
  border: none;
  background-color: #ff3c78;
  color: #fff;
  border-radius: 10px;
  padding: 10px 10px;
}

.img-content2 .show-btn:hover {
  background: #fff;
  color: #ff3c78;
}

.img-content2 .show-btn:hover~.img-content2 a {
  color: #ff3c78;
}

.img-content2 a:hover {
  color: #ff3c78;
}

.content2:hover .img-content2 {
  opacity: 1;
  top: 50%;
}
.filter-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-box .input-group {
  margin-bottom: 20px;
}
.filter-box .mt-3 {
  margin-top: 20px;
}


.filter-box .form-control {
  border-radius: 20px;
}

.filter-box .btn-outline-secondary {
  border-radius: 20px;
}

.filter-box .btn-primary {
  border-radius: 20px;
}

.filter-box .me-2 {
  margin-right: 10px;
}
.box-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffe9;
  width: 700px;
}

.searchbx {
  width: 100%;
  padding: 5px 20px;
  border: 0;
}

.cus-btns {
  padding: 3px 5px;
  background-color: #000000;
  /* background-image: linear-gradient(62deg, #f2a424 0%, #f6b918 50%, #e5a668 100%); */
  color: #fff !important;
  display: flex;
  align-items: center;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .box-content {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffffe9;
      width: 300px;
  }

  .cus-btns {
      padding: 3px 5px;
      background-color: #ffb200;
      background-image: linear-gradient(62deg, #f2a424 0%, #f6b918 50%, #e5a668 100%);
      color: #fff !important;
      display: flex;
      align-items: center;
      font-size: 14px;
  }

  div#navbarSupportedContent {
      text-align: center;
  }

  .btn-box {
      justify-content: center;
  }

  .filter-box {
      width: 100%;
  }

  .list {
      text-align: center;
  }


}


@media only screen and (max-width: 780px) {

  .footerup {
      color: #adadad;
      text-decoration: none;
      text-align: center !important;
  }



}
